#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  #customers td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #67706d;
    color: white;
  }
  td {
    border: 1px solid #000;
}
  th {
    border: 1px solid #000;

}

tr td:last-child {
    border: 1px solid #000;
    width: 1%;

}

